body {
	background-color: #343131;
}

#navbar {
	background-color: #A04747 !important;
}

nav a, nav button, nav button span {
	color: #D8A25E !important;
}

#company {
	color: #EEDF7A !important;
}

#footer {
	color: #EEDF7A;
	background-color: #A04747;
}

#hero {
	background: linear-gradient(
		rgb(52, 49, 49, 0.75),
		rgb(52, 49, 49, 0.5)
	), url("./images/hero-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #EEDF7A;
	min-height: 25vw;
}

.carousel-caption {
	color: #EEDF7A;
	background-color: rgb(52, 49, 49, 0.7);
}

#why-div, #feat-products {
	color: #EEDF7A;
}

#browse-btn {
	background-color: #D8A25E;
	border-color: #D8A25E;
	color: #343131;
	width: 25vw;
}

.card-body a {
	background-color: #D8A25E;
	border-color: #D8A25E;
	color: #343131;
	width: 100%;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card {
	color: #343131;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
